---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import H1 from "../components/H1.astro";
import Main from "../components/Main.astro";
import PostList from "../components/PostList.astro";
export const prerender = false;

const posts = await getCollection("posts");
---

<Layout title="Blog | Ryhtm Nation">
  <Main>
    <H1 text="Rythm Nation Blog" />
    {posts.map((post) => <PostList posts={posts} />)}
  </Main>
</Layout>
